.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
	}
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

body {
	background: #E6E6EA;
	font-size: 18px;
}

#container {
	min-height: calc(100vh - 95px);
	max-width: 800px;
	display: block;
	margin: 0 auto;
}

#status {
	font-family: 'Pacifico', serif;
	color: #fff;
	font-size: 60px;
	font-weight: lighter;
	background: #009FB7;
	box-shadow: 4px 4px 2px #777777;
	padding: 10px;
	display: block;
	text-align: center;
	margin: 25px 25px 10px 25px;
	line-height: 1.2;
	transform: rotate(3deg);
}

.updates {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

#datetime {
	font-family: 'Open Sans', sans-serif;
	color: #FE4A49;
	float: left;
	max-width: 80%;
}

#credit {
	font-family: 'Open Sans', sans-serif;
	color: #FE4A49;
	float: right;
	max-width: 20%;
}

footer {
	margin-top: 20px;
	height: 20px;
}

#updatesIntro {
	font-weight: bold;
}

#updatesDetails {
	background: rgba(255,255,255,0.5);
	padding: 10px;
	margin: 30px 10px 10px 10px;
}

.icon {
	height: 250px;
	display: block;
	margin: 0 auto;
}

a {
	border-bottom: 2px solid #009FB7;
	box-shadow: inset 0 -3px 0 #009FB7;
	color: inherit;
	text-decoration: none;
	transition: 0.5s;
}

a:hover {
	background: rgba(0,159,183,0.6);
}

#social {
	display: block;
	width: 175px;
	margin: 0 auto;
	text-align: center;
}

#social a, #social div {
	float: right;
}

#twitter-widget-0 {
	margin-top: 2px;
}

@media (max-width: 670px) {
	#datetime, #credit {
		float: none;
		text-align: center;
		max-width: 100%;
	}

}