body {
	background: #E6E6EA;
}

#container {
	min-height: calc(100vh - 75px);
}

#status {
	font-family: 'Pacifico', cursive;
	color: #fff;
	font-size: 50px;
	font-weight: lighter;
	background: #009FB7;
	box-shadow: 4px 4px 2px #777777;
	padding: 10px;
	display: block;
	text-align: center;
	margin: 25px 25px 10px 25px;
	line-height: 1.2;
	transform: rotate(3deg);
}

.updates {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	margin: 0;
}

#datetime {
	font-family: 'Open Sans', sans-serif;
	color: #FE4A49;
	font-size: 12px;
}

footer {
	margin-top: 20px;
	height: 20px;
}

#updatesIntro {
	font-weight: bold;
}

#updatesDetails {
	background: rgba(255,255,255,0.5);
	padding: 10px;
	margin: 10px;
}

.icon {
	height: 200px;
	display: block;
	margin: 0 auto;
}