<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>isthecanalopen.com</title>
 
 	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
 
</head>
 
<body>

	<div id="container">

		<h1 id="status">The Rideau Canal is {{ ready }}!</h1>
		
		<img class="icon" src="static/sticks.png" alt="Icon of crossed hockey sticks.">

		<p id="updatesIntro" class="updates">The latest from the National Capital Commision is:</p>
		<p id="updatesDetails" class="updates"> {{ infoformatted}}.</p>

	</div>

	<footer>
		<p id="datetime">This information was fetched on {{ datetime }} Coordinated Universal Time.</p>
	</footer>

</body>
 
</html>