<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Is The Canal Open?</title>
 
 	<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400|Pacifico" rel="stylesheet">
    <link rel="stylesheet" href="static/style.css">
 
</head>
 
<body>

	<div id="container">

		<h1 id="status">The Rideau Canal is {{ ready }}!</h1>

		 {% if ready == "closed" %}
		 	<img class="icon" src="static/sticks.png" alt="Icon of crossed hockey sticks.">
			
		 {% else %} 
		 	<img class="icon" src="static/skate.png" alt="Icon of crossed hockey sticks.">

		 {% endif %}

		<p id="updatesIntro" class="updates">The latest from the <a href="http://rcs.ncc-ccn.ca">National Capital Commission is:</a></p>
		<p id="updatesDetails" class="updates"> {{ infoformatted}}.</p>

	</div>

	<footer class="clearfix">
		<p id="datetime">This information was fetched on {{ datetime }} Coordinated Universal Time.</p>
		<p id="credit">Made by <a target="_blank" href="http://www.carysmills.com">Carys Mills</a></p>
	</footer>

<!-- 	Noun Project credits:
	Hockey Stick
	By Valery, RU

	Figure Skating
	By Evgeni Moryakov, RU -->

</body>
 
</html>